body {
  margin: 0;
  font-family: Arial;
  background: rgb(123,1,193);
  background: -moz-radial-gradient(circle, rgba(123,1,193,1) 0%, rgba(1,166,182,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(123,1,193,1) 0%, rgba(1,166,182,1) 100%);
  background: radial-gradient(circle, rgba(123,1,193,1) 0%, rgba(1,166,182,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b01c1",endColorstr="#01a6b6",GradientType=1); 
}

h1, .header{ color: white; }

.cell{ position: absolute; box-sizing: border-box; }
.on{ background-color: #007bff; }
.off{ background-color: white; border: 1px solid #EFEFEF; }
#gol, #seed{ position: relative; margin: 0px auto; }
#gol{ box-shadow: 0 0 30px #000; }